@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* Light Mode Colors */
  --color-primary-light: #07b6d5;
  --color-secondary-light: hsl(228, 100%, 98%);
  --color-body-background-light: hsl(0, 0%, 100%);
  --color-elements-light: hsl(0, 0%, 0%);
  --color-text-light: hsl(0, 0%, 0%);

  /* Dark Mode Colors */
  /* --color-primary-dark: hsl(189, 94%, 43%);
  --color-secondary-dark: hsl(219, 31%, 18%);
  --color-body-background-dark: hsl(221, 50%, 11%);
  --color-elements-dark: hsl(0, 0%, 100%);
  --color-text-dark: hsl(0, 0%, 100%); */

  /* Fonts */
  --fs-logo: clamp(2rem, 1.8696rem + 0.6522vw, 2.375rem);
  --fs-base: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-small: clamp(0.8125rem, 0.7908rem + 0.1087vw, 0.875rem);

  --fw-bold: 700;
  --fw-regular: 400;
}

body {
  @apply relative font-mosk text-fs-base text-color-text-light overflow-x-hidden before:content-[''] before:absolute before:top-0 before:left-0 before:-z-10 before:bg-hero-img before:bg-no-repeat before:bg-cover before:w-full before:h-[360px] 
  ;
}

@layer base {
  @font-face {
    font-family: "Mosk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/mosk-regular.woff2) format("woff2"),
      url(./assets/fonts/mosk-regular.woff) format("woff"),
      url(./assets/fonts/mosk-regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Mosk";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/mosk-bold.woff2) format("woff2"),
      url(./assets/fonts/mosk-bold.woff) format("woff"),
      url(./assets/fonts/mosk-bold.ttf) format("truetype");
  }
}
