@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-errors: hsl(0, 72%, 51%);

  /* Light Mode Colors */
  --color-primary-light: hsl(189, 94%, 43%);
  --color-secondary-light: hsl(228, 100%, 98%);
  --color-body-background-light: hsl(0, 0%, 100%);
  --color-elements-light: hsl(0, 0%, 0%);
  --color-text-light: hsl(0, 0%, 0%);

  /* Dark Mode Colors */
  --color-primary-dark: hsl(189, 94%, 43%);
  --color-secondary-dark: hsl(219, 31%, 18%);
  --color-body-background-dark: hsl(221, 50%, 11%);
  --color-elements-dark: hsl(0, 0%, 100%);
  --color-text-dark: hsl(0, 0%, 100%);

  /* Fonts */
  --fs-logo: clamp(2rem, 1.8696rem + 0.6522vw, 2.375rem);
  /* --fs-base: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
   */
  --fs-base: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-small: clamp(0.8125rem, 0.7908rem + 0.1087vw, 0.875rem);

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
}

body {
  @apply relative font-mosk bg-color-body-background-light dark:bg-color-body-background-dark text-fs-base text-color-text-light dark:text-color-text-dark overflow-x-hidden;
  transition: background-color 500ms ease, color 500ms ease;
}

.hero-img {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.15)
  );
}

@layer base {
  @font-face {
    font-family: "Mosk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/mosk-regular.woff2) format("woff2"),
      url(./assets/fonts/mosk-regular.woff) format("woff"),
      url(./assets/fonts/mosk-regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Mosk";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/mosk-semi-bold.woff2) format("woff2"),
      url(./assets/fonts/mosk-semi-bold.woff) format("woff"),
      url(./assets/fonts/mosk-semi-bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Mosk";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/mosk-bold.woff2) format("woff2"),
      url(./assets/fonts/mosk-bold.woff) format("woff"),
      url(./assets/fonts/mosk-bold.ttf) format("truetype");
  }
}

.visually-hidden {
  display: inline-block;
  position: absolute;

  height: 1px;
  width: 1px;

  border: 0;
  clip: rect(0 0 0 0);

  margin: -1px;
  padding: 0;

  overflow: hidden;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  display: grid;
  place-content: center;

  font: inherit;
  color: currentColor;

  width: 1.5rem;
  height: 1.5rem;

  background-color: var(--color-secondary-light);
  border: 0.15em solid currentColor;
  border-radius: 0;

  transform: translateY(-0.075em);

  cursor: pointer;

  padding: 0.5rem;
  margin: 0;
}

.dark input[type="checkbox"] {
  background-color: var(--color-secondary-dark);
}

input[type="checkbox"]:focus-visible {
  outline: max(2px, 0.15em) solid var(--color-primary-light);
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]::before {
  content: "";

  width: 1rem;
  height: 1rem;

  background-color: CanvasText;
  box-shadow: inset 5rem 5rem var(--color-primary-light);

  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform-origin: bottom left;
  transform: scale(0);

  transition: 150ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
